{% extends "dashboard/base.html" %}
{% load static %}
{% load bootstrap3 %}
{% load mathfilters %}
{% load humanize %}

{% block content %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<div class="panel panel-default">
	<div class="panel-header">
		<a href="#closed_trades_filter_form" role="button" data-toggle="collapse">Apply filter...</a>
		<a href="{% url 'rebalance_closed_trades' %}" class="pull-right">Rebalance...</a>
	</div>
    <div class="panel-body panel-collapse collapse" id="closed_trades_filter_form">
		<form action="{% url 'closed_trades_index' %}" method="GET">
		{% csrf_token %}
		{% bootstrap_form closed_trades_filter_form %}
		{% bootstrap_button button_type='submit' content='Submit' %}
		</form>
	</div>
</div>
<div id="equity-container" style="width:100%; height:400px;">
</div>
<table class="table table-condensed">
    <tr>
        <td></td>
        <td>Account</td>
        <td>Security</td>
        <td>EntryTime</td>
        <td>ExitTime</td>
        <td>Profit</td>
        <td>Strategy ID</td>
    </tr>
{% for closed_trade in closed_trades %}
    <tr class="{% if closed_trade.profit > 0 %}success{% else %}danger{% endif %}">
        <td style="width: 32px;">{% if closed_trade.direction == "long" %}<img src="{% static "images/up-arrow-7.png" %}" class="img-responsive"/> {% else %}<img src="{% static "images/down-arrow-2.png" %}" class="img-responsive"/> {% endif %}</td>
        <td>{{ closed_trade.account }}</td>
        <td>{{ closed_trade.security }}</td>
        <td>{{ closed_trade.entryTime }}</td>
        <td>{{ closed_trade.exitTime }}</td>
        <td>{{ closed_trade.profit|floatformat:2 }} {{ closed_trade.profitCurrency}}</td>
        <td>{{ closed_trade.strategyId }}</td>
    </tr>
{% endfor %}
</table>
<script>
$(function () { 
	$('#equity-container').highcharts({
		chart : {
			type: 'spline'
		},
		title: {
			text: 'PnL'
		},
		xAxis: {
			type: 'datetime',
			dateTimeLabelFormats : {
				month: '%e. %b',
				year: '%b'
			}
		},
		yAxis: {
			title: {
				text: 'PnL'
			}
		},
		series: [
			{% for series_name, series in cumulative_profits.items %}
				{
				name: '{{ series_name }}',
				data: [
				{% for element in series.elements %}
					[Date.UTC({{ element.year }}, {{ element.month }}, {{ element.day }}, {{ element.hour }}, {{ element.minute}}, {{ element.second }}), {{ element.value }}]
					,
				{% endfor %}
				 ]
				},
			 {% endfor %}
		]
	});
});
</script>
{% endblock %}

