{% extends "dashboard/base.html" %}

{% block content %}
<div class="panel-group">
{% for entry in robot_states %}
    <div class="panel panel-default">
        <div class="panel-heading" id="heading-{{entry.instance_id}}">
            <a role="button" data-toggle="collapse" href="#collapse-{{entry.index}}">
            {{ entry.instance_id }}
            <div class="pull-right">
                {% if entry.open_pos_counter > 0 %} <span class="label label-primary">{{ entry.open_pos_counter }}</span> {% endif %}
                {% if entry.pending_pos_counter > 0 %} <span class="label label-warning">{{ entry.pending_pos_counter }}</span> {% endif %}
                {% if entry.last_store %}<span class="badge">{{ entry.last_store }}</span>{% endif %}
            </div>
            </a>
        </div>
        <div id="collapse-{{entry.index}}" class="panel-collapse collapse">
            <div class="panel-body">
            <pre>{{ entry.state }}</pre>

            {% for position in entry.positions %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>State: {{ position.posState.tag }} </p>
                        <p>Ticker: {{ position.posTicker }} </p>
                        <p>Balance: {{ position.posBalance }} </p>
                        {% if position.posEntryTime %}
                        <p>Entry: {{ position.posEntryTime }} </p>
                        {% endif %}
                        {% if position.posExitTime %}
                        <p>Exit: {{ position.posExitTime }} </p>
                        {% endif %}
                        {% if position.posStopPrice %}
                        <p>Stop at: {{ position.posStopPrice }} </p>
                        {% endif %}
                        {% if position.posTakeProfitPrice %}
                        <p>Take profit at: {{ position.posTakeProfitPrice }} </p>
                        {% endif %}
                        <p>Account: {{ position.posAccount }} </p>
                    </div>
                </div>
            {% endfor %}

            </div>
            <div class="panel-footer">
                <a class="btn btn-danger" href="{% url 'delete_instance' entry.instance_id %}">Delete</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<form class="form-inline" action="{% url 'add_instance' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="instance_id">New instance ID:</label>
        <input type="text" class="form-control" id="instance_id" name="instance_id" placeholder="instance ID" />
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>
{% endblock %}
